<div class="modal fade" id="updateprofileform" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Customer Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #profileForm="ngForm" (ngSubmit)="editProfile()" class="">

                    <div class="form-floating mb-3">
                        <input type="email" name="email" [(ngModel)]="edituser.email" class="form-control border-dark"
                            placeholder="Email
                        address">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" name="name" [(ngModel)]="edituser.name" class="form-control border-dark"
                            placeholder="Name">
                        <label for="floatingInput">Name</label>
                    </div>

                    <button class="btn btn-dark w-100" data-bs-dismiss="modal">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateprofileimgform" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Customer Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row p-5">

                    <div class="col-3 my-auto">
                        <h2>Image Cropper</h2>
                        <div class="input-group h-100" (click)="getevent($event)">
                            <ngx-dropzone (change)="fileChangeEvent($event)" class="w-100">
                                <ngx-dropzone-label>Drop images here...</ngx-dropzone-label>
                            </ngx-dropzone>
                        </div>
                    </div>

                    <div class="col-6 my-auto">
                        <image-cropper style="max-height: 60vh;" [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true" [aspectRatio]="4 / 4" format="png" [imageURL]=img
                            (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                            (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                    </div>

                    <div class="col-3 my-auto">
                        <img [class]="croppedImage?'shadow-lg rounded p-2 object-fit-contain img-fluid mx-auto d-block':''"
                            [src]="croppedImage" />
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary my-3" (click)="upload()" data-bs-dismiss="modal">
                    Update
                </button>
            </div>

        </div>
    </div>
</div>