<nav class="navbar navbar-dark bg-dark position-fixed top-0 z-1 w-100" *ngIf="flag">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand text-capitalize" href="#">E-Commers</a>
        <ul class="navbar-nav d-flex flex-row w-auto gap-4">
            <li class="nav-item" (click)="activelink(0)">
                <a class="nav-link" [routerLink]="'product'">Products</a></li>
            <li class="nav-item" (click)="activelink(1)">
                <a class="nav-link" [routerLink]="'setting'">Settings</a></li>
            <li class="nav-item" (click)="activelink(2)">
                <a class="nav-link" [routerLink]="'shop'">Shop</a></li>
        </ul>
        <button class="btn btn-outline-light" (click)="logout()">Logout</button>
    </div>
</nav>