.<div class="container">
    <div class="mx-auto text-center bg-dark text-light w-25 mt-5
        rounded
        shadow-lg py-4
        position-relative">
        <button (click)="logout()" class="logout-btn btn btn-lg shadow-lg
            position-absolute
            border-0 btn-dark top-0 end-0">
            <i class="bi bi-box-arrow-left"></i>
        </button>
        <button [routerLink]="'/setting/company-setting'"
            class="logout-btn btn btn-lg shadow-lg
            position-absolute
            border-0 btn-dark top-0 start-0">
            <i class="bi bi-gear"></i>
        </button>
        <h3>User Profile</h3>
        <h5>Email:{{user?.name}}</h5>
        <h5>Full Name:{{user?.name}}</h5>
        <h5>Company Name:{{user?._org.name}}</h5>
    </div>
</div>
