<div class="container-fluid w-100 row py-4 m-0">
    <div class="container-sm col-xl-4 col-lg-8 col-md-12 mx-auto p-0">
        <form
            class="card shadow-lg border-0 w-100 px-md-4 p-3 mx-auto"
            (ngSubmit)="creatproduct()">
            <h1 class="p-0">Add Product</h1>
            <div class="form-floating mb-3 mt-3">
                <input type="text" name="name"
                    [(ngModel)]="product.name"
                    class="form-control border-dark" placeholder="name
                            address" required>
                <label for="floatingInput">Name</label>
            </div>

            <div class="NgxEditor__Wrapper mb-3 border-black">
                <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
                </ngx-editor-menu>
                <ngx-editor [editor]="editor" [(ngModel)]="product.description"
                    [disabled]="false" name="description"
                    [placeholder]="'Type here...'"></ngx-editor>
            </div>

            <div class="row rounded border border-dark p-2 m-0 mb-3">
                <div class="col p-0 overflow-auto" style="height: 176px;" id="imgpre">
                    <img class="img-thumbnail m-1 object-fit-contain"
                        [src]="item"
                        *ngFor="let item of images"
                        style="height: 80px;width: 80px;">
                </div>
                <div class="col p-0">
                    <div
                        class="input-group">
                        <ngx-dropzone (change)="onFileSelect($event)"
                            class="w-100">
                            <ngx-dropzone-label>Drop images here...</ngx-dropzone-label>
                        </ngx-dropzone>
                    </div>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="number" name="price"
                    [(ngModel)]="product.price"
                    class="form-control border-dark"
                    placeholder="price" required>
                <label for="floatingInput">Price</label>
            </div>
            <button type="submit"
                class="btn btn-dark mb-3">
                Add</button>
        </form>
    </div>
</div>