.circle {
    width: 150px;
    height: 150px;
    left: 85%;
    top: 60%;
    z-index: -1;
    background: linear-gradient(-40deg, #B799FF, #AEE2FF);
}

.main-content {
    background: #00000017;
    backdrop-filter: blur(3px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.img {
    z-index: -1;
}

.img:hover img {
    filter: blur(8px);
}

.img i {
    z-index: 1;
    display: none;
}

.img i:first-child {
    transform: translate(-150%, -50%) !important;
}

.img i {
    transform: translate(50%, -50%);
}

.img:hover i {
    display: block !important;
}