/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Sulphur Point', sans-serif;
}

.ts>ul,
ol,
dl {
    padding: 0;
    list-style: none !important;
}

.lh-0 {
    line-height: 0.5;
}