/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Sulphur Point', sans-serif;
}

.ts>ul,
ol,
dl {
    padding: 0;
    list-style: none !important;
}

.lh-0 {
    line-height: 0.5;
}

::-webkit-scrollbar {
    width: 1px;
    height: 100px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #bbbaba;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0000007e;
}