<div class="px-0 py-2 m-0 container-fluid row">
    <div class="px-3 py-5 mt-3 rounded shadow-lg col-xxl-2 d-none d-xxl-block ms-2 me-3 sticky-xl-top"
        style="height: 100%; width: auto; top: 70px;">
        <div class="d-flex justify-content-between">
            <h2 class="fw-bold">Filters</h2>
            <ul class="pagination" role="button">
                <li class="page-item">
                    <a class="text-white page-link bg-dark" aria-label="Previous" (click)="changePage(-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="text-black page-link">{{pagination.page}}</a></li>
                <li class="page-item">
                    <a class="text-white page-link bg-dark" aria-label="Next" (click)="changePage(1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="my-2 form-floating">
            <input type="email" class="border-black form-control" id="floatingInput" placeholder="name@example.com">
            <!-- [(ngModel)]="pagination.name" (keyup)="getproductslist()" -->
            <label for="floatingInput">Search</label>
        </div>

        <div class="my-3 form-floating">
            <select class="border-black form-select" id="floatingSelect" [(ngModel)]="pagination.sortBy"
                aria-label="Floating label select example" (click)="getproductslist()">
                <option value="name">Name</option>
                <option value="price">Price</option>
                <option value="images">images</option>
            </select>
            <label for="floatingSelect">Sort By</label>
        </div>

        <div class="form-floating">
            <select class="border-black form-select" id="limit" [(ngModel)]="pagination.limit"
                aria-label="Floating label select example" (click)="getproductslist()">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
            <label for="floatingSelect">Limit</label>
        </div>

    </div>
    <div class="p-0 col-xxl-10 col-lg-12 row">
        <div class="col-lg-4 col-md-6 col-sm-12 g-3" *ngFor="let item of results">
            <div class="border-0 shadow-lg card" style="max-width: 540px;" (click)="oneProduct(item._id)">
                <div class="row g-0">
                    <div class="col-md-6">
                        <img [src]="item.images[0].url" style="height: 250px; width: 100%; object-fit: contain; "
                            class="p-3 rounded img-fluid " alt="product image">
                    </div>
                    <div class="col-md-6 d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="p-0 m-0 card-title text-capitalize ls lh-1 text-wrap fw-bold">
                                {{item.name | description:'title'}}</h5>
                            <div class="my-1 bg-black w-100" style="height: 1px;"></div>
                            <h6 class="mb-0 card-text">
                                <b>Description:<br></b>
                            </h6>
                            <p [innerHTML]="item.description |description:'description'"></p>
                            <h5 class="card-text">
                                {{item.price| currency:'INR'}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>