<div class="p-0 container-fluid">
    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button fs-3 text-dark-emphasis" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Cart Items
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="overflow-y-auto accordion-body list-group list-group-flush" style="max-height: 65vh">
                    <li class="list-group-item" *ngFor="let item of outputproducts$|async">
                        <div class="row">
                            <div class="col-10">
                                <h5 class="mb-1">{{item.name}}</h5>
                                <span class="d-flex">
                                    Price:
                                    <p [class]="item.deal? 'mb-1 ms-1 text-decoration-line-through':'mb-1 ms-1'">
                                        {{item.price | currency:'INR'}}
                                    </p>
                                    <p *ngIf="item.deal" class="ms-2">
                                        {{item.deal.price | customeCurrency:'INR'}}
                                        ({{item.deal.discount}} Discount)
                                    </p>
                                </span>
                            </div>
                            <div class="col-2 d-flex align-items-center">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-success"
                                        (click)="dec(item.productId,item.qty)">
                                        <i class="bi bi-dash-lg"></i>
                                    </button>
                                    <a class="btn btn-success">{{item.qty}}</a>
                                    <button type="button" class="btn btn-outline-success" (click)="inc(item.productId)">
                                        <i class="bi bi-plus-lg"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed fs-3 text-dark-emphasis" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                    aria-controls="collapseTwo">
                    Address
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" *ngIf="!loginflag">
                    <h2>You are not Login!</h2>
                </div>
                <div class="accordion-body" *ngIf="loginflag">

                    <div *ngIf="!(address|async)"
                        class="py-5 w-100 d-flex justify-content-center align-items-center flex-column">
                        <h5 class="text-dark-emphasis">No Address present</h5>
                    </div>

                    <div class="w-100" *ngIf="address|async">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let item of address|async;index as i">
                                <input class="form-check-input me-1" type="radio" name="listGroupRadio" [value]="i"
                                    [id]="i">
                                <label class="form-check-label ps-2" [for]="i">
                                    <address>
                                        <i>
                                            {{item.street}} <br>
                                            {{item.addressLine2}} <br>
                                            {{item.city}} <br>
                                            {{item.state}}-{{item.pin}}
                                        </i>
                                    </address>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="pt-3 w-100 d-flex justify-content-end border-top">
                        <button class="btn btn-dark" routerLink="/shop/profile">Add
                            Address</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>